.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.size{
  width: "500px";
}

.heading{
  font-size: 30px;
  color: rgb(0, 195, 255);
  margin-bottom: 15px;
  padding: 0;
}


@media only screen and (max-width:500px){
  .size{
    width: "280px";
  }
}